@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap');

body {
  margin: 0;
  background: #eee;
}

.github-corner > svg {
  z-index: 1;
}

.csepds {
  width: 796px;
  margin: 60px auto 30px;
  box-shadow: 0 0 15px 3px black;

  // All
  * {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }

  // Shelf
  > div {
    background-image: url(shelf.png);
    height: 194px;

    position: relative;
    text-align: center;

    // Shelf-top
    &:first-child {
      background-image: url(shelf-top.png);
      height: 64px;
    }

    // Shelf tag
    > span {
      display: block;
      width: 80px;
      height: 30px;

      position: absolute;
      top: 0px;
      left: 14px;

      background-color: rgba(0, 0, 0, 0.6);
      color: white;

      line-height: 30px;
    }

    // Books
    > button {
      display: block;
      width: 100px;
      height: 140px;

      position: absolute;
      bottom: 20px;

      border-style: none;
      border-radius: 9px;
      outline: none;
      cursor: pointer;

      font-size: 16px;
      word-break: keep-all;

      background-color: rgba(255, 255, 255, 0.75);
      transition: background-color 0.3s;
      &:hover {
        background-color: white;
      }

      > h1 {
        font-size: 1em;
        font-weight: bold;
        margin: 0.5em 0;
      }
    }
  }
}
