@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css)

body { padding: 50px 200px }

.csepds
  width: 796px
  box-shadow: 0 0 15px 3px black
  * { box-sizing: border-box }

  font-family: 'Noto Sans KR', sans-serif

  // Shelf
  > div
    background-image: url(bookshelf.png)
    height: 194px

    position: relative
    text-align: center

    // Shelf-top
    &:first-child
      background-image: url(bookshelf-top.png)
      height: 64px

    // Shelf tag
    > span
      display: block
      width: 80px
      height: 30px

      position: absolute
      top: 0px
      left: 14px

      background-color: rgba(0, 0, 0, 0.6)
      color: white

      line-height: 30px

    // Books
    > a
      display: block
      width: 100px
      height: 140px

      position: absolute
      bottom: 20px

      border-style: solid
      border-width: 2px
      border-radius: 9px
      border-color: black
      background-color: white
      color: black

      font-size: 16px
      word-break: keep-all

      &:link, &:visited, &:hover, &:active { text-decoration: none !important }

      transition: box-shadow 0.3s
      &:hover { box-shadow: 0 0 10px 5px white }

      > h1
        font-size: 1em
        font-weight: bold
        margin: 0.5em 0
